@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.keyboard-key {
  font-family: 'Source Code Pro', monospace;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}
