@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

.typingForm {
    max-width: 500px;
    margin: auto; /* Center the form horizontally */
}

.typingForm .form-control {
    font-family: 'Source Code Pro', monospace;
    align-items: center;
    height: 100px; /* Increased the height of form controls */
    width: 500px;
    font-size: 24px; /* Increase the font size */
}
