@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

.typingForm {
    max-width: 500px;
}

.typingForm .form-control {
    font-family: 'Source Code Pro', monospace;
    height: 100px; /* Increase the height of form controls */
    width: 500px;
  }