@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

.text-box {
  border: 2px solid rgba(0, 0, 0, 0.5); /* Semi-transparent black border */
  padding: 200px; /* Padding inside the box */
  margin: 20px auto; /* Centered margin with auto */
  display: inline-block; /* Only as wide as necessary */
  font-size: 16px; /* Font size */
  color: #c30707; /* Text color */
  font-family: 'Source Code Pro', monospace; /* Font family */
}

.text-box-to-type-to {
  margin-left: 20px;
  padding: 20px; /* Padding inside the box */
  margin: 20px auto; /* Centered margin with auto */
  display: inline-block; /* Only as wide as necessary */
  font-size: 16px; /* Font size */
  color: #333; /* Text color */
  font-family: 'Source Code Pro', monospace; /* Font family */
}

.matched-char {
  font-size: 24px; /* Increase the font size */

  color: green; /* or any color you prefer for matched characters */
}

.unmatched-char {
  font-size: 24px; /* Increase the font size */

  color: rgb(207, 15, 15); /* or any color you prefer for unmatched characters */
}
