.typingForm {
    max-width: 500px;
    margin: auto;
}

.typingForm .form-control {
    height: 300px; /* Increase the height of form controls */
    width: 500px;
    padding: 0;
    margin: 0;
    resize: none;
    border: none;
    overflow: hidden;
    writing-mode: horizontal-tb;
  }