@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

.App {
  text-align: center;
}

.AppName{
  font-family: 'Source Code Pro', monospace;
  size: 200%;
  font-size:3em;
  font-style: bold;
  margin-block-end: 0.0em;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Source Code Pro', monospace;
  min-height: 100vh;

}
/* typing-box.css */
.typingEffect {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 5s steps(30, end) forwards;
  color:#979797
}

/* Keyframes for the typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; } /* Adjust the width to fit your text */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}